html {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: white;
    color: #4c5155;
    font-family: Merriweather Sans, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

* {
    transform-origin: 0px 0px 0px;
}

*,
 :after,
 :before {
    box-sizing: border-box;
}

div {
    display: block;
}

li {
    text-align: match-parent;
    display: list-item;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

img {
    vertical-align: middle;
}

.divider {
    color: white;
}

.annouce {
    text-align: center;
}

.how-it-work {
    background-color: #f0f3f5;
    min-height: 7.5em;
    padding: 5em 0;
    margin: 7.5em 0;
    position: relative;
}

.how-it-work .how-it-work-content {
    padding: 2.5em 0;
}

.how-it-work-content h2 {
    text-align: center;
    margin: 0 0 .9375em;
}

.how-it-work-content ul {
    margin: 0 auto;
    list-style: none;
    max-width: 30.8333em;
    display: table;
}

.how-it-work-content li {
    margin: 0 auto;
    font-size: 1.125em;
    color: #8d9499;
}

.how-it-work-content li:not(:last-child) {
    margin-bottom: .9375em;
}

.how-it-work-content li img {
    width: 2.125em;
    margin-right: 1em;
}

.how-it-work .divider {
    overflow: visible;
    position: absolute;
}

.how-it-work .divider:first-child {
    top: 0;
}

.how-it-work .divider:last-child {
    bottom: 0;
}

.how-it-work .divider polygon {
    fill: #fff;
}

.owl-carousel {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
}

.owl-carousel.owl-drag .owl-item {
    user-select: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    user-select: none;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    transform-style: preserve 3d;
}

.home-clients .logo-flat {
    margin-top: 15px;
    height: 36px;
}

.home-clients img {
    display: table;
    margin: 0 auto;
    width: auto! important;
}